* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

            /*      DEFINING COLOURS VARIABLES   */
:root {
    --background-color: #221f1b;
    --accent-color1: #cbbb2a;
    --accent-color2: #fdedf2;
}

            /*      BACKGROUND COLOUR     */
body {
    background-color: var(--background-color);
    font-family: 'Raleway', sans-serif;
}

            /*      SECTION BORDERS     */
section {
    width: 100%;
    border-bottom: 2px solid var(--accent-color1);
    z-index: -1;
}

section:last-of-type {
    border-bottom: none;
}

            /*      NAVBAR       */

/*      NAVBAR LAYOUT       */
#navbar {
    border-bottom: 2px solid var(--accent-color1);
    position: fixed;
    top: 0;
    display: flex;
    width: 100%;
    background-color: var(--background-color);
    z-index: 10;
}

nav > ul {
    display: flex;
    width: 100%;
}

nav > ul > li {
    display: flex;
    color: #ebebeb;
}

.right-side {
    margin-left: auto;
}

/*      NAVBAR STYLING      */
nav a {
    color: #ebebeb;
    text-decoration: none;
    padding: 15px;
    border: 2px solid transparent;
    border-radius: 10px;
    
}
nav a:hover {
    color: var(--background-color);
    background-color:#cbbb2a;
    border-radius: 10px;
}

            /*      HOME SECTION        */
#home {
    position: relative;
    border: 2px solid red;
    margin-top: 55px;
}
.home-container h1 {
    color: #fdedf2;
}

@media (max-width: 332px) {

    /*      NAVBAR      */
    #navbar {
        border-bottom: 2px solid var(--accent-color1);
        position: fixed;
        top: 0;
        display: flex;
        width: 100%;
        background-color: var(--background-color);
        z-index: 10;
    }
    nav > ul {
        display: block;
        width: 100%;
    }
    nav > ul > li {
        display: flex;
    }
    nav a {
        width: 100%;
        text-align: center;
    }
    nav a:hover {
        border-radius: 0;
    }
    /*      HOME SECTION        */
    #home {
        position: relative;
        border: 2px solid red;
        margin-top: 161px;
    }
}