* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #221f1b;
    --accent-color1: #cbbb2a;
    --accent-color2: #fdedf2;
}

/*      BACKGROUND COLOUR     */
body {
    background-color: var(--background-color);
}

/*      SECTION BORDERS     */
section {
    border-bottom: 2px solid var(--accent-color1);
}